/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */


$main: #B32F47; /* OCEAN GREEN */
$light: #FFD3B5; /* SPRING RAIN */
$dark: #5E5A5F; /* HOKEY POKEY */
$green: #47B975; /* OCEAN GREEN */
$border: #BEC8CE; /* LOBLOLLY */
$red: #F44336; /* POMEGRANATE */
$yellow: #ff9800; /* PIZAZZ */
$black: #212121; /* GREEN KELP */
$white: #f9f9f9; /* FAFAFA DESERT STORM */
$grey: #EEEEEE; /* GALLERY */
$fancy: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;

$color1: #434437;
$color2: #7cb486;
$color3: #92d1c8;
$color4: #d4cd9c;
$color5: #bd5041;
$color6: #E37473;
$color7: #81B299;

$radius: 6px;
$shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
$shadow-lite: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
$large: 2em;
$med: 1.5em;
$smed: 1.25em; 
$small: 0.85em;
$letterspacer: .05em;

@mixin transition {
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

li {
  list-style: none;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0px;
  font-family: $fancy;
  font-weight: 400;
  background: $black;
  color: $white;
  -webkit-font-smoothing: antialiased;
}

a {
  @include transition;
  color: $main;
  text-decoration: none;
  &:hover {
    color: $light;
  }
}

::selection {
  color: $white;
  background: $main;
}

::-moz-selection {
  color: $white;
  background: $main;
}

.no-mobile {
  display: block;
}

.only-mobile {
  display: none;
}

.hidden {
  display: none;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  width: 96%;
  margin: 0 auto;
}

.mid-container {
  width: 70%;
  margin: 0 auto; 
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

/* ********************** SPACING **************** */

.padding-vertical {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.padding-bottom {
  padding-bottom: 2vh;
}

.padding-top {
  padding-top: 2vh;
}

.padding-horizontal {
  padding-right: 2vw;
  padding-left: 2vw;
}

.border-bottom {
  border-bottom: 1px solid $grey;
}

.border-top {
  border-top: 1px solid $grey;
}

.two-column {
  margin: 0;
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

/* ********************** HEADER ***************** */

.header-container {
  width: 100%;
  margin: 0 auto;
  background: transparent;
  a {
    color: $white;
  }
}

.nav {
  display: block;
  .site-title {
    @include transition;
    display: block;
    width: 100%;
    font-size: $large;
    text-align: center;
    color: $white;
    font-weight: 700;
    letter-spacing: $letterspacer;
    &:hover {
      text-decoration: none;
      color: $main;
    }
  }
  ul {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    display: block;
    li {
      width: 20%;
      display: inline-block;
      position: relative;
      text-align: center;
    }
  }
}

.nav-links {
  @include transition;
  cursor: pointer;
  color: $black;
  padding: 1vh 1vw;
  font-weight: 400;
  letter-spacing: $letterspacer;
  &:hover {
    color: $main;
  }
}

/* ******************* FOOTER ******************* */

.full-footer-container {
  width: 100%;
  clear: both;
  padding-top: 15vh;
}

.footer {
  font-size: .75em;
  width: 100%;
  display: inline-block;
  span {
    float: left;
  }
  .nav-links {
    @include transition;
    color: $white;
    padding: 0;
    &:hover {
      @include transition;
      color: $main;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    float: right;
    li {
      position: relative;
      display: inline-block;
      margin: 0 1vw;
      &:first-child {
        margin: 0 1vw 0 0;
      }
    }
  }
}

.footer-disclaimer {
  font-size: .75em;
  text-align: center;
  color: $white;
  padding-bottom: 2vh;
}


/* ************ FORMS ************** */

@mixin buttons {
  @include transition;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
  font-family: $fancy;
  text-transform: uppercase;
  letter-spacing: $letterspacer;
  padding: 1vh 1vw;
  background: transparent;
  border: 2px solid $main;
  color: $main;
  -webkit-font-smoothing: unset;
  &:hover {
    background: $main;
    color: $white;
  }
}

.submit-button {
  @include buttons;
}

.delete-button {
  @include buttons;
  border: 2px solid $dark;
  color: $dark;
  &:hover {
    background: $dark;
  }
}

.image-button {
  @include buttons;
  border: 2px solid $dark;
  color: $dark;
  &:hover {
    border: 2px solid $white;
    background: $white;
    color: $black;
  }
}

.black-button {
  @include buttons;
  border: 2px solid $black;
  color: $black;
  &:hover {
    background: $black;
  }
}

textarea:focus, input:focus, select {
  outline: none;
}

label {
  -webkit-font-smoothing: antialiased;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

::placeholder {
    color: $border;
  }

@mixin fields {
  width: 100%;
  font-size: 1em;
  font-weight: 400;
  border: none;
  display: inline-block;
  box-sizing: border-box;
  font-family: $fancy;
  letter-spacing: .5px;
}

select {
  @include fields;
  text-indent: 1vw;
  background: $grey;
  height: 4vh;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right $grey;
  -webkit-appearance: none;
  background-position-x: 98%;
  border-radius: 0px;
}

.text-field {
  @include fields;
  padding: 1vh 1vw;
  background: $dark;
  color: $white;
}

.text-area {
  @include fields;
  min-width: 100%;
  max-width: 100%;
  min-height: 15vh;
  max-height: 30vh;
  height: 15vh;
  padding: 1vh 1vw;
  background: $dark;
  color: $white;
  display: block;
}

.field {
  margin: 0 0 2vh 0;
}

.field-two-column {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.field-three-column {
  width: 32%;
  display: inline-block;
  vertical-align: top;
  select { 
    background-position-x: 94%;
  }
}

.form-container {
  width: 40%;
  margin: 0 auto;
  a {
    color: $main;
    &:hover {
      color: $light;
    }
  }
  .main-color {
    a {
      color: $main;
      &:hover {
        color: $dark;
      }
    }
  }
  .link-color {
    a {
      color: $white;
      &:hover {
        color: $white;
      }
    }
  }
  .form-title {
    margin: 2vh 0;
    font-size: 1.75em;
    text-align: center;
  }
}

/* **************** PAGES ************** */

video {
  display: block;
  max-height: 75vh;
}

.video-player {
  padding: 5vh 0;
}

.video-title {
  margin: 2vh 0;
  font-size: 1.5em;
}